.home-wrap {
  .home-swiper{
    height: 120px;
    // overflow: hidden;
    img{
      max-width: 100%;
    }
  }
  .home-content{
    display: flex;
    background-color: #ECECEC;
    .home-content-card{
      width: 180px;
      margin: 20px 15px;
      .ant-card-meta-description {
        color: rgba(0, 0, 0, 0.45);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
