.home-wrap {
  height: calc(60vh);
  align-items: center;
  justify-content: center;
  .home-swiper{
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  .home-content{
    display: flex;
    flex-wrap: wrap;
    background-color: #ECECEC;
    // padding: 20px 20px;
    .home-content-card{
      width: 180px;
      margin: 20px 15px;
    }
  }
}
