.home-wrap {
  height: calc(60vh);
  align-items: center;
  justify-content: center;
  .home-content{
    display: flex;
    flex-wrap: wrap;
    background-color: #ECECEC;
    // padding: 20px 20px;
    .home-content-card{
      width: 180px;
      margin: 20px 15px;
    }
  }
}
